:root {
  /* font, change to 'gg sans' for default discord font*/
  /* --font: ""; */

  /* color of status indicators and window controls */
  --online-indicator: #a6e3a1; /* change to #23a55a for default green */
  --dnd-indicator: #f38ba8; /* change to #f23f43 for default red */
  --idle-indicator: #f9e2af; /* change to #f0b232 for default yellow */
  --streaming-indicator: #89b4fa; /* change to #593695 for default purple */

  /* accent colors */
  --accent-1: hsl(217, 92%, 76%); /* links */
  --accent-2: hsl(217, 92%, 76%); /* general unread/mention elements */
  --accent-3: hsl(217, 92%, 76%); /* accent buttons */
  --accent-4: hsl(217, 70%, 68%); /* accent buttons when hovered */
  --accent-5: hsl(217, 55%, 57%); /* accent buttons when clicked */
  --mention: hsla(217, 70%, 66%, 0.1); /* mentions & mention messages */
  --mention-hover: hsla(
    217,
    70%,
    66%,
    0.05
  ); /* mentions & mention messages when hovered */

  /* direct messages moon icon */
  --discord-icon: block; /* discord icon */
}

.childWrapper_f90abb:has(> svg:not(.favoriteIcon_dcc7a4)) {
  background: none;
}
