:root {
  /* font, change to 'gg sans' for default discord font*/
  /* --font: ""; */

  /* accent colors */
  --accent-1: hsl(217, 92%, 76%); /* links */
  --accent-2: hsl(217, 92%, 76%); /* general unread/mention elements */
  --accent-3: hsl(217, 92%, 76%); /* accent buttons */
  --accent-4: hsl(217, 70%, 68%); /* accent buttons when hovered */
  --accent-5: hsl(217, 55%, 57%); /* accent buttons when clicked */
  --mention: hsla(217, 70%, 66%, 0.1); /* mentions & mention messages */
  --mention-hover: hsla(
    217,
    70%,
    66%,
    0.05
  ); /* mentions & mention messages when hovered */
}

body {
  --dms-icon: default;
  --dms-background: off;
}
