:root {
  --accent-1: var(--blue-1); /* links and other accent text */
  --accent-2: var(--blue-2); /* small accent elements */
  --accent-3: var(--blue-3); /* accent buttons */
  --accent-4: var(--blue-4); /* accent buttons when hovered */
  --accent-5: var(--blue-5); /* accent buttons when clicked */
}

body {
  /* font, change to 'gg sans' for default discord font*/
  --font: "SF Pro Text";
  --code-font: "SFMono Nerd Font";

  --custom-dms-icon: off;
  --custom-dms-background: off;
}
