{{- template "spicetify/config-xpui.ini" dict "spotify_path" (eq .chezmoi.os "darwin" | ternary "/Applications/Spotify.app/Contents/Resources" "$HOME/.local/share/spotify-launcher/install/usr/share/spotify") "prefs_path" (printf "%s%s" .chezmoi.homeDir "/.config/spotify/prefs") -}}
