{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  editor: "nvim"
  # do not override the following values
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  is_wsl: true
{{-   end -}}
{{- else }}
  is_wsl: false
{{- end }}
{{ if eq .chezmoi.os "windows" }}
interpreters:
  ps1:
    command: "pwsh"
    args:
      - "-NoLogo"
{{- end }}
diff:
  exclude: 
    - "scripts"

progress: true
