{{- if eq .hosttype "personal" -}}

{{- $personal_github_url_prefix := printf "git@github.com:%s" .name -}}

"{{- .project_base_path -}}/nodejs/cli-tools/project-manager":
  type: "git-repo"
  url: "{{- $personal_github_url_prefix -}}/project-manager.git"
"{{- .project_base_path -}}/github-profile":
  type: "git-repo"
  url: "{{- $personal_github_url_prefix -}}/{{- .name -}}.git"
"{{- .project_base_path -}}/nodejs/nextjs/coc-players-admin-dashboard":
  type: "git-repo"
  url: "{{- $personal_github_url_prefix -}}/coc-players-admin-dashboard.git"
"{{- .project_base_path -}}/nodejs/nextjs/personal-site":
  type: "git-repo"
  url: "{{- $personal_github_url_prefix -}}/personal-site"
"{{- .project_base_path -}}/powershell/Nvim-Switcher":
  type: "git-repo"
  url: "{{- $personal_github_url_prefix -}}/PS-Nvim-Switcher"
{{- end -}}
