#-------------------------------------------------------------------------------
#  ZSH CONFIGURATION
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#  ENVIRONMENT VARIABLES
#-------------------------------------------------------------------------------
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

export PATH="$PATH:$(gem env path | sed 's#[^:]\+#&/bin#g')"

export PNPM_HOME="$HOME/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"

export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"
{{ $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" ".local/bin" ".local/share/bob/nvim-bin" ".cargo/bin" -}}
{{-   $path := joinPath $homeDir $relPath -}}
{{-   if stat $path -}}
{{-     $paths = mustAppend $paths $path -}}
{{-   end -}}
{{- end -}}
{{ if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}
export PATH=/usr/local/bin:$PATH

# Preferred editor for local and remote sessions
if [[ -n "${SSH_CONNECTION:-""}" ]]; then
  export EDITOR="vim"
else
  export EDITOR="{{- .editor -}}"
fi

{{- if eq .chezmoi.os "darwin" }}

# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

#-------------------------------------------------------------------------------
#  OPTIONS
#-------------------------------------------------------------------------------
COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# History
LANG=en_US.UTF-8
HISTSIZE=5000
HISTFILE="$HOME/.zsh_history"
SAVEHIST=$HISTSIZE
HIST_STAMPS="dd.mm.yyyy"
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

#-------------------------------------------------------------------------------
#  OH_MY_ZSH
#-------------------------------------------------------------------------------

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME=""

# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  aliases
  colorize
  command-not-found
  cp
  fzf-tab
  git
  node
  npm
  nvm
  python
  pip
  tmux
  tmuxinator
  vi-mode
  web-search
  zsh-autosuggestions
  zsh-syntax-highlighting
)

fpath+=${ZSH_CUSTOM:-${ZSH:-~/.oh-my-zsh}/custom}/plugins/zsh-completions/src

source $ZSH/oh-my-zsh.sh

#-------------------------------------------------------------------------------
#  USER CONFIGURATION
#-------------------------------------------------------------------------------

# Load Oh My Posh
if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config "${XDG_CONFIG_HOME:-${HOME}/.config}/oh-my-posh/config.yml")"
fi

# Completion styling
zstyle ":completion:*" matcher-list 'm:{a-z}={A-Za-z}'
zstyle ":completion:*" list-colors "${(s.:.)LS_COLORS}"
zstyle ":completion:*" menu no
zstyle ":fzf-tab:complete:cd:*" fzf-preview 'ls --color $realpath'
zstyle ":fzf-tab:complete:__zoxide_z:*" fzf-preview 'ls --color $realpath'

# Keybindings
bindkey -e
bindkey "^p" history-search-backward
bindkey "^n" history-search-forward
bindkey "^[w" kill-region

# Aliases
alias vim="nvim"
alias vi="nvim"
alias v="nvim"
alias c="clear"
alias cat="bat"
alias ls="eza"

# Load zoxide
eval "$(zoxide init --cmd cd zsh)"

# Load fzf (must stay on the end)
source <(fzf --zsh)
