-- ╭─────────────────────────────────────────────────────────╮
-- │ APPEARANCE CONFIG                                       │
-- ╰─────────────────────────────────────────────────────────╯

---@type Wezterm
---@diagnostic disable: assign-type-mismatch
local wezterm = require("wezterm")

local colors = require("colors")

local M = {}

---@param config Config
function M.setup(config)
  local font_size = tonumber("{{- .font.size -}}")

  -- ── Font ────────────────────────────────────────────────────────────
  config.font = wezterm.font_with_fallback({
    {
      family = "{{- .font.nerd.family -}}",
      weight = "{{- .font.nerd.weight -}}",
    },
    "Symbols Nerd Font",
    "Noto Color Emoji",
  })
  config.font_size = font_size
  config.command_palette_font_size = font_size
  config.line_height = 1.2

  -- ── Colors ──────────────────────────────────────────────────────────
  config.color_scheme = "Catppuccin Mocha"
  config.window_background_gradient = {
    orientation = "Vertical",
    colors = { colors.base, colors.surface0, colors.crust },
    interpolation = "Linear",
  }
  config.command_palette_bg_color = colors.surface0
  config.command_palette_fg_color = colors.text

  -- ── Rendering ───────────────────────────────────────────────────────
  config.animation_fps = 144
  config.max_fps = 144

  config.underline_thickness = 3
  config.cursor_thickness = 4
  config.underline_position = -6

  -- ── Cursor ──────────────────────────────────────────────────────────
  -- {{- if eq .device_type "desktop" }}
  config.cursor_blink_ease_in = "Constant"
  config.cursor_blink_ease_out = "Constant"
  config.cursor_blink_rate = 700
  -- {{- end }}
  config.scrollback_lines = 10000

  -- ── Window ──────────────────────────────────────────────────────────
  config.window_decorations = "INTEGRATED_BUTTONS|RESIZE"
  config.window_padding = {
    top = 0,
    bottom = 0,
    left = 0,
    right = 0,
  }
  config.enable_scroll_bar = false
end

return M
