# {{ template "pwsh-library.ps1" . }}

# ╭──────────────────────────────────────────────────────────╮
# │ Install essentials                                       │
# ╰──────────────────────────────────────────────────────────╯
_LogHeader "Essential Packages"

# ── winget ────────────────────────────────────────────────────────────
# {{ if hasKey .packages.essentials "winget" }}
Write-Output "## winget:" | gum format
_Install-PackagesWinget "{{- .packages.essentials.winget | uniq | join "\", \"" -}}"
# {{ end }}

# ── custom ────────────────────────────────────────────────────────────
# {{ if hasKey .packages.essentials "custom" }}
Write-Output "## custom:" | gum format
#   {{ range .packages.essentials.custom }}
if (Get-Command "{{- .name -}}" -ErrorAction SilentlyContinue) {
  _Log -l warn "{{- .name }} is already installed"
} else {
  # {{ "\n" }}{{ .command }}
  _Log -l info "Installed {{ .name -}}"
}
#   {{ end }}
# {{ end }}

Write-Host
_Log -l info "Installed essential packages"

# ╭──────────────────────────────────────────────────────────╮
# │ Install packages                                         │
# ╰──────────────────────────────────────────────────────────╯
_LogHeader "Packages"

# ── winget ────────────────────────────────────────────────────────────
# {{ $packages := list }}
# {{ if hasKey .packages "winget" }}
#   {{ $packages = concat $packages .packages.winget }}
# {{ end }}
# {{ if and (eq .hosttype "personal") (hasKey .packages "personal") (hasKey .packages.personal "winget")  }}
#   {{ $packages = concat $packages .packages.personal.winget }}
# {{ end }}
# {{ if and (eq .hosttype "work") (hasKey .packages "work") (hasKey .packages.work "winget") }}
#   {{ $packages = concat $packages .packages.work.winget }}
# {{ end }}
# {{ if $packages }}
Write-Output "## winget:" | gum format
_Install-PackagesWinget "{{- $packages | uniq | join "\", \"" -}}"
# {{ end }}

# ── PowerShell Gallery ────────────────────────────────────────────────
# {{ if hasKey .packages "pwsh_gallery" }}
Write-Output "## PowerShell Gallery:" | gum format
_Install-PackagesGallery "{{- .packages.pwsh_gallery | uniq | sortAlpha | join "\" \"" -}}"
# {{ end }}

Write-Host
_Log -l info "Installed packages"

# {{ if hasKey .apps "winget" }}
_LogHeader "Apps"

# ── winget ────────────────────────────────────────────────────────────
# {{ $apps := list }}
# {{ if hasKey .apps "winget" }}
#   {{ $apps = concat $apps .apps.winget }}
# {{ end }}
# {{ if and (eq .hosttype "personal") (hasKey .apps "personal") (hasKey .apps.personal "winget") }}
#   {{ $apps = concat $apps .apps.personal.winget }}
# {{ end }}
# {{ if and (eq .hosttype "work") (hasKey .apps "work") (hasKey .apps.work "winget") }}
#   {{ $apps = concat $apps .apps.work.winget }}
# {{ end }}
# {{ if $apps }}
Write-Output "## winget:" | gum format
_Install-PackagesWinget "{{- $apps | uniq | join "\", \"" -}}"
# {{ end }}

Write-Host
_Log -l info "Installed apps"
# {{ end }}