# {{ template "pwsh-library.ps1" . }}

_LogHeader "Spicetify"

if (Test-Path (spicetify -c)) {
  _Log -l warn "Spicetify is already configured"
  exit
}

if (-Not (Test-Path -Path "$env:APPDATA\Spotify" -PathType Container)) {
  _Log -l error "Please open Spotify and log in. Then run this script again."
}

spicetify
spicetify backup apply enable-devtools

Invoke-WebRequest "https://raw.githubusercontent.com/spicetify/spicetify-marketplace/main/resources/install.ps1" | Invoke-Expression

_Log -l info "Spicetify configured"
