# ╭──────────────────────────────────────────────────────────╮
# │ Apps and Packages                                        │
# ╰──────────────────────────────────────────────────────────╯

# ── Essential Packages ────────────────────────────────────────────────
print "Installing essential packages..."
# {{ if hasKey .packages.essentials "winget" }}
for package in ["{{- .packages.essentials.winget | uniq | join "\", \"" -}}"] {
  do -i {
    print $"- ($package)"
    winget install -e --accept-package-agreements --accept-source-agreements --no-upgrade --id $package
  }
}
# {{ end }}

# {{ if hasKey .packages.essentials "custom" }}
for custom in ('{{- .packages.essentials.custom | toJson -}}' | from json) {
  if (which $custom.name | length) == 0 {
    do -i {
    print $"- ($custom.name)"
      run-external ...($custom.command | split words)
    }
  }
}
# {{ end }}

# ── Packages ──────────────────────────────────────────────────────────
print "Installing packages..."
# {{ $packages := list }}
# {{ if hasKey .packages "winget" }}
#   {{ $packages = concat $packages .packages.winget }}
# {{ end }}
# {{ if and (eq .hosttype "personal") (hasKey .packages "personal") (hasKey .packages.personal "winget")  }}
#   {{ $packages = concat $packages .packages.personal.winget }}
# {{ end }}
# {{ if and (eq .hosttype "work") (hasKey .packages "work") (hasKey .packages.work "winget") }}
#   {{ $packages = concat $packages .packages.work.winget }}
# {{ end }}
# {{ if $packages }}
for package in ["{{- $packages | uniq | join "\", \"" -}}"] {
  do -i {
    print $"- ($package)"
    winget install -e --accept-package-agreements --accept-source-agreements --no-upgrade --id $package
  }
}
# {{ end }}

# ── Apps ──────────────────────────────────────────────────────────────
print "Installing apps..."
# {{ $apps := list }}
# {{ if hasKey .apps "winget" }}
#   {{ $apps = concat $apps .apps.winget }}
# {{ end }}
# {{ if and (eq .hosttype "personal") (hasKey .apps "personal") (hasKey .apps.personal "winget") }}
#   {{ $apps = concat $apps .apps.personal.winget }}
# {{ end }}
# {{ if and (eq .hosttype "work") (hasKey .apps "work") (hasKey .apps.work "winget") }}
#   {{ $apps = concat $apps .apps.work.winget }}
# {{ end }}
# {{ if $apps }}
for package in ["{{- $apps | uniq | join "\", \"" -}}"] {
  do -i {
    print $"- ($package)"
    winget install -e --accept-package-agreements --accept-source-agreements --no-upgrade --id $package
  }
}
# {{ end }}
