# {{ template "pwsh-library.ps1" . }}

# {{ if hasKey .apps "winget" }}
_LogHeader "Apps"

# ── winget ────────────────────────────────────────────────────────────
Write-Output "## winget:" | gum format
_Install-PackagesWinget "{{- .apps.winget | uniq | join "\", \"" -}}"

Write-Host
_Log -l info "Installed apps"
# {{ end }}
