# {{ template "pwsh-library.ps1" . }}

_LogHeader "Neovim Configuration Directory"

$target_path = "$env:LOCALAPPDATA\nvim"
$symlink_path = "$env:USERPROFILE\.config\nvim"

# Check if the path exists
if (!(Test-Path("$symlink_path"))) {
  _Log -l error "Neovim configuration not found"
  exit 1
}

# Check if the symbolic link already exists
if (Test-Path("$target_path")) {
  _Log -l warn "Symlink for Neovim configuration directory already exists"
}
else {
  New-Item -Path "$target_path" -ItemType SymbolicLink -Value "$symlink_path"

  _Log -l info "Created symlink for Neovim config dir"
}
