# {{ template "pwsh-library.ps1" . }}

# ╭──────────────────────────────────────────────────────────╮
# │ Install essentials                                       │
# ╰──────────────────────────────────────────────────────────╯
_LogHeader "Essential Packages"

# ── winget ────────────────────────────────────────────────────────────
# {{ if hasKey .packages.essentials "winget" }}
Write-Output "## winget:" | gum format
_Install-PackagesWinget "{{- .packages.essentials.winget | uniq | join "\", \"" -}}"
# {{ end }}

# ── custom ────────────────────────────────────────────────────────────
# {{ if hasKey .packages.essentials "custom" }}
Write-Output "## custom:" | gum format
#   {{ range .packages.essentials.custom }}
if (Get-Command "{{- .name -}}" -ErrorAction SilentlyContinue) {
  _Log -l warn "{{- .name }} is already installed"
} else {
  # {{ "\n" }}{{ .command }}
  _Log -l info "Installed {{ .name -}}"
}
#   {{ end }}
# {{ end }}

Write-Host
_Log -l info "Installed essential packages"

# ╭──────────────────────────────────────────────────────────╮
# │ Install packages                                         │
# ╰──────────────────────────────────────────────────────────╯
_LogHeader "Packages"

# ── winget ────────────────────────────────────────────────────────────
# {{ if hasKey .packages "winget" }}
Write-Output "## winget:" | gum format
_Install-PackagesWinget "{{- .packages.winget | uniq | join "\", \"" -}}"
# {{ end }}

# ── PowerShell Gallery ────────────────────────────────────────────────
# {{ if hasKey .packages "pwsh_gallery" }}
Write-Output "## PowerShell Gallery:" | gum format
_Install-PackagesGallery "{{- .packages.pwsh_gallery | uniq | sortAlpha | join "\" \"" -}}"
# {{ end }}

Write-Host
_Log -l info "Installed packages"
