#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

# Reruns script when a new release was made. Current release: {{ (gitHubLatestRelease "Coopydood/HyperFluent-GRUB-Theme").TagName }}

THEMES_DIR="/boot/grub/themes"
TMP_DIR="/tmp/HyperFluent-GRUB-Theme"
GRUB_CONFIG="/etc/default/grub"

_log_header "Boot Loader Configuration"

mkdir -p "${TMP_DIR}"

# Download the theme tar.gz
_spin "Downloading hyperfluent themes" -- git clone --depth 1 "https://github.com/Coopydood/HyperFluent-GRUB-Theme.git" "${TMP_DIR}"
_log -l info "Downloaded hyperfluent themes"

sudo -v

sudo rm -rf "${THEMES_DIR}/hyperfluent-arch"
sudo mkdir -p "${THEMES_DIR}/hyperfluent-arch"
_spin "Moving hyperfluent-arch to the GRUB themes directory" -- sudo mv "${TMP_DIR}"/arch/* "${THEMES_DIR}/hyperfluent-arch"

rm -rf "${TMP_DIR}"

# Update the GRUB configuration file
_set_option_with_sudo "GRUB_THEME" "${THEMES_DIR}/hyperfluent-arch/theme.txt" "${GRUB_CONFIG}"

_set_option_with_sudo "GRUB_GFXMODE" "1920x1080,auto" "${GRUB_CONFIG}"

if gum confirm "Do you have a dual-boot system and want os-prober to auto-detect other operating systems?" --default=false; then
	_install_packages_pacman "os-prober"

	_set_option_with_sudo "GRUB_DISABLE_OS_PROBER" "false" "${GRUB_CONFIG}"

	sudo os-prober
fi
_log -l info "Set grub options"

# Update GRUB
_spin "Updating GRUB configuration" -- sudo grub-mkconfig -o /boot/grub/grub.cfg
_log -l info "Updated GRUB configuration"

echo
_log -l info "Set up grub"
