# {{ template "pwsh-library.ps1" . }}

Show-Spinner -StartMessage "Windows: Setting up Neovim configuration" -CompletionMessage "Windows: Neovim configuration set" -ScriptBlock {
  $target_path = "$env:LOCALAPPDATA\nvim"
  $symlink_path = "$env:USERPROFILE\.config\nvim"

  # Check if the path exists
  if (!(Test-Path("$symlink_path"))) {
    throw "Neovim configuration not found. Skipping."
  }

  # Check if the symbolic link already exists
  if (Test-Path("$target_path")) {
    return ":Windows: Neovim configuration set"
  }

  New-Item -Path "$target_path" -ItemType SymbolicLink -Value "$symlink_path"
}