# {{ template "pwsh-library.ps1" . }}

_LogHeader "Apps"

# {{ $apps := list }}
# {{ $unresolvedApps := .apps.common }}
# {{ if eq .hosttype "work" }}
#   {{ $unresolvedApps = concat $unresolvedApps .apps.work }}
# {{ end }}
# {{ range $unresolvedApps }}
#   {{ if hasKey . "win" }}
#     {{ if eq "string" (printf "%T" .win) }}
#       {{ $apps = mustAppend $apps .win }}
#     {{ end }}
#   {{ end }}
# {{ end }}
# {{ if hasKey .apps.win "winget" }}
# {{ $apps := concat $apps .apps.win.winget }}
# {{ end }}

# ── winget ────────────────────────────────────────────────────────────
Write-Output "## winget:" | gum format
_Install-PackagesWinget "{{- $apps | uniq | join "\", \"" -}}"

Write-Host
_Log -l info "Installed apps"
