cls

{{ range $_, $line := .prompts.ascii_logo }}
Write-Host '{{ $line }}'
{{- end }}

Write-Host
Write-Host "{{- .name -}}/dotfiles -> https://github.com/{{- .name -}}/dotfiles"
Write-Host {{ .prompts.setup_instruction | quote }}
Write-Host
Read-Host {{ .prompts.press_enter_to_continue | quote }}
