if (!(Get-Command figlet -ErrorAction SilentlyContinue)) 
{
  Set-PSRepository PSGallery -InstallationPolicy Trusted
  Install-Module -Name Figlet -Scope CurrentUser -Confirm:$False -Force
  Import-Module -Name Figlet
}

figlet "{{ .name }}/dotfiles"

Write-Host {{ .prompts.intro | quote }}
Write-Host {{ .prompts.setup_instruction | quote }}

Read-Host {{ .prompts.press_enter_to_continue | quote }}
