# {{ template "pwsh-library.ps1" . }}

_Log -l info "Installing apps"

# ── winget ────────────────────────────────────────────────────────────
Write-Output "# winget:" | gum format
_Install-PackagesWinget "{{- .apps.win.winget | uniq | join "\", \"" -}}"

Write-Host
_Log -l info "Installed apps"
