# {{ template "pwsh-library.ps1" . }}

Write-LogInfo "Windows: You have to manually install the following packages:"

# {{ range (concat .dependencies.windows.manual .dependencies.all.manual | sortAlpha | uniq) }}
Write-Host "- {{ . -}}"
# {{ end }}