# {{ template "pwsh-library.ps1" . }}

# {{ if hasKey .apps.win "manual" }}
Write-LogInfo "Windows: You have to manually install the following packages:"
#   {{ range (concat .apps.win.manual | uniq | sortAlpha) }}
Write-Host "- {{ . -}}"
#   {{ end }}
# {{ end }}
