{{- template "spicetify/config-xpui.ini" dict "spotify_path" "C:\\Program Files\\WindowsApps\\SpotifyAB.SpotifyMusic_1.241.434.0_x64__zpdnekdrzrea0" "prefs_path" "C:\\Users\\hydra\\AppData\\Local\\Packages\\SpotifyAB.SpotifyMusic_zpdnekdrzrea0\\LocalState\\Spotify\\prefs" -}}
