# ╭──────────────────────────────────────────────────────────╮
# │ HYPRLAND CONFIG                                          │
# ╰──────────────────────────────────────────────────────────╯

{{ template "hyprland/env.conf" . }}

{{ template "hyprland/execs.conf" . }}

{{ template "hyprland/config.conf" . }}

{{ template "hyprland/rules.conf" . }}

{{ template "hyprland/bindings.conf" . -}}
