#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

_log_header "Nix Flake"

if gum confirm "Proceed with the update?" --default=false; then
  current_path=$(pwd)
  nix_config_path="$(realpath "$(chezmoi source-path)/../nix")"

  cd "${nix_config_path}" || exit 1
  _spin "Updating flake lock file" -- nix flake update
  _log -l info "Updated flake lock file"

  echo
  _log -l info "Checking if flake.lock has changed and commit"
  flake_lock_path=$(find "${nix_config_path}" -type f -name "flake.lock" -print -quit)
  if [[ ! -f "${flake_lock_path}" ]]; then
    _log -l error "Could not find flake.lock file in ${nix_config_path}"
    exit 1
  fi

  cd "$(realpath "$(chezmoi source-path)/..")" || exit 1
  # Check if there are any changes
  if git diff --quiet "${flake_lock_path}"; then
    _log -l warn "No changes in flake.lock file"
  else
    git add "${flake_lock_path}"
    git commit "${flake_lock_path}" -m "chore(nix): update flake inputs"
    cd "${current_path}" || exit 1
    _log -l info "Committed updated flake.lock file"
  fi

  _log -l info "Completed flake lock update"
else
  _log -l warn "Skipping flake update"
fi
