---@type LazyPluginSpec
return {
  "alker0/chezmoi.vim",
  lazy = false,
  init = function()
    vim.g["chezmoi#source_dir_path"] = "{{ .chezmoi.sourceDir }}"
    vim.g["chezmoi#use_tmp_buffer"] = true
  end,
}
