#!/bin/bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

start_task "Installing packages"

# Install packages
# {{ if eq .osid "linux-arch" }}
echo "Arch Linux: Installing packages"
echo
sudo pacman -Syu

echo
echo "pacman:"
# {{ range $_, $package_name := concat .dependencies.arch.pacman .dependencies.unix.packages .dependencies.all.packages }}
pacman_ensure_installed "{{- $package_name -}}"
# {{ end }}

echo
echo "yay:"
# {{ range $_, $package_name := .dependencies.arch.yay }}
yay_ensure_installed "{{- $package_name -}}"
# {{ end }}

# {{ else if eq .chezmoi.os "darwin" }}
echo "macOS: Installing formulae and casks"
echo
brew update && brew upgrade

echo
echo "brew (formulae):"
# {{ range $_, $formula := concat .dependencies.macos.brew.formulae .dependencies.unix.packages .dependencies.all.packages }}
brew_ensure_formula_installed "{{- $formula -}}"
# {{ end }}

echo
echo "brew (casks):"
# {{ range $_, $cask := concat .dependencies.macos.brew.casks }}
brew_ensure_cask_installed "{{- $cask -}}"
# {{ end }}

# {{ end }}

# Custom installation
echo
echo "Custom installation:"
# {{ $dependencies := concat .dependencies.unix.custom .dependencies.all.custom }}
# {{ if eq .osid "linux-arch" }}
# {{ $dependencies = concat .dependencies.arch.custom $dependencies }}
# {{ else if eq .chezmoi.os "darwin" }}
# {{ $dependencies = concat .dependencies.macos.custom $dependencies }}
# {{ end }}

# {{ range $_, $pkg := $dependencies }}
# {{ range $cmd_name, $lines := $pkg }}
install_custom_cmd() {
	if command -v "{{- $cmd_name -}}" &>/dev/null; then
		echo "{{- $cmd_name -}}"
		exit 2
	else
		# {{ "\n" }} {{ $lines }}
	fi
}
show_spinner "install_custom_cmd" "{{- $cmd_name -}}" "{{- $cmd_name -}}"
# {{ end }}
# {{ end }}

# Global npm packages
echo
echo "npm:"
# {{ range $_, $package_name := .dependencies.all.pnpm }}
install_with_pnpm() {
	if pnpm list -g --depth 0 | grep -q "{{- $package_name -}}"; then
		echo "{{- $package_name -}}"
		exit 2
	else
		pnpm add -g "{{- $package_name -}}"
	fi
}
show_spinner "install_with_pnpm" "{{- $package_name -}}" "{{- $package_name -}}"
# {{ end }}

# Global cargo crates
echo
echo "cargo:"
# {{ range $_, $package_name := .dependencies.all.cargo }}
install_with_cargo() {
	if cargo install --list | grep -q "{{- $package_name -}}"; then
		echo "{{- $package_name -}}"
		exit 2
	else
		cargo install "{{- $package_name -}}"
	fi
}
show_spinner "install_with_cargo" "{{- $package_name -}}" "{{- $package_name -}}"
# {{ end }}
echo

complete_task "Installed packages"
