#!/bin/bash

if [ ! "$(command -v figlet)" ]; then
  sudo apt install figlet -y
fi

figlet "{{ .name }}/dotfiles"

echo {{ .prompts.intro | quote }}
echo {{ .prompts.setup_instruction | quote }}

echo {{ .prompts.press_enter_to_continue | quote }}
read
