#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

# {{ if and (eq .chezmoi.os "darwin") (hasKey .apps.mac "manual") }}
_log -l info "You have to manually install the following packages:"
#   {{ range (concat .apps.mac.manual | uniq | sortAlpha) }}
echo "- {{ . -}}"
#   {{ end }}
# {{ else if and (eq .osid "linux-arch") (hasKey .apps.arch "manual") }}
_log -l info "You have to manually install the following packages:"
#   {{ range (concat .apps.arch.manual | uniq | sortAlpha) }}
echo "- {{ . -}}"
#   {{ end }}
# {{ end }}
