#!/bin/bash

# {{ template "bash-library.sh" . }}

start_loading "Zsh: Setting up Spaceship theme"

ZSH_CUSTOM="${HOME}/.oh-my-zsh/custom"
target_path="${ZSH_CUSTOM}/themes/spaceship.zsh-theme"
symlink_path="${ZSH_CUSTOM}/themes/spaceship-prompt/spaceship.zsh-theme"

# Check if the path exists
if [[ ! -e "${symlink_path}" ]]; then
	log_warning "Spaceship theme not found. Skipping."
	exit 0
fi

# Check if the symbolic link already exists
if [[ -L "${target_path}" ]]; then
	stop_loading "Zsh: Spaceship theme set"
	exit 0
fi

ln -s "${symlink_path}" "${target_path}"

stop_loading "Zsh: Spaceship theme set" --is-success
