#!/bin/bash

# {{ template "bash-library.sh" . }}

log_task "Setting zsh as default shell"

# Check if zsh is installed
# {{ if eq .osID "linux-arch" }}
pacman_ensure_installed zsh
# {{ else if eq .osID "linux-ubuntu" }}
apt_ensure_installed zsh
# {{ end }}

# Check if the current shell is zsh already
if [[ "${SHELL}" == "/usr/bin/zsh" ]]; then
	log_info "Shell is already zsh. Skipping."
	exit 0
fi

chsh -s "/usr/bin/zsh"
log_success "Shell changed to zsh"
