#!/bin/bash

clear

{{ range $_, $line := .prompts.ascii_logo }}
echo '{{ $line}}'
{{- end }}

echo
echo "{{- .name -}}/dotfiles -> https://github.com/{{- .name -}}/dotfiles"
echo {{ .prompts.setup_instruction | quote }}
echo
echo {{ .prompts.press_enter_to_continue | quote }}
read
