#!/bin/bash

# {{ template "bash-library.sh" . }}

log_task "Installing packages"

if [[ -f "${HOME}/.zprofile" ]]; then
	log_task "Loading .zprofile"
	source "$HOME/.zprofile"
fi

# Install packages
# {{ if eq .osid "linux-arch" }}
sudo pacman -Syu

# {{ range $_, $package_name := concat .dependencies.arch.pacman .dependencies.unix.packages .dependencies.all.packages }}
pacman_ensure_installed "{{- $package_name -}}"
# {{ end }}

# {{ else if eq .osid "linux-ubuntu" }}
sudo apt update -y && sudo apt upgrade -y

# {{ range $_, $package_name := concat .dependencies.ubuntu.apt .dependencies.unix.packages .dependencies.all.packages }}
apt_ensure_installed "{{- $package_name -}}"
# {{ end }}

# {{ end }}

# NVM
if [[ -d "${NVM_DIR:-"~/.nvm"}/.git" ]]; then
	log_info "nvm is already installed. Skipping."
else
	curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh | bash
fi

# Custom installation
# {{ if eq .osid "linux-arch" }}
# {{ range $_, $pkg := concat .dependencies.arch.custom .dependencies.unix.custom .dependencies.all.custom }}
# {{ range $cmd_name, $to_install := $pkg }}
if command -v "{{- $cmd_name -}}" >/dev/null 2>&1; then
	log_info "{{- $cmd_name }} is already installed. Skipping."
else
	log_task "Installing {{ $cmd_name -}}"
	# {{ range $_, $line := $to_install }}
	# {{ "\n" }} command_exec {{ $line }}
	# {{ end }}
fi
# {{ end }}
# {{ end }}

# {{ else if eq .osid "linux-ubuntu" }}
# {{ range $_, $pkg := concat .dependencies.ubuntu.custom .dependencies.unix.custom .dependencies.all.custom }}
# {{ range $cmd_name, $to_install := $pkg }}
if command -v "{{- $cmd_name -}}" >/dev/null 2>&1; then
	log_info "{{- $cmd_name }} is already installed. Skipping."
else
	log_task "Installing {{ $cmd_name -}}"
	# {{ range $_, $line := $to_install }}
	# {{ "\n" }} command_exec {{ $line }}
	# {{ end }}
fi
# {{ end }}
# {{ end }}

# {{ end }}

# Global npm packages
pnpm_list="$(command_exec pnpm list -g --depth 0)"
# {{ range $_, $package_name := .dependencies.all.pnpm }}
if "${pnpm_list}" | grep -q "{{- $package_name -}}"; then
	log_info "pnpm: {{ $package_name }} is already installed. Skipping."
else
	log_task "Installing {{ $package_name }} via pnpm"
	command_exec pnpm add -g "{{- $package_name -}}"
fi
# {{ end }}
