#!/bin/bash

# {{ template "bash-library.sh" . }}

# {{ range $_, $line := .prompts.ascii_logo }}
log_blue '{{- $line -}}'
# {{ end }}

echo
log_yellow "{{- .name -}}/dotfiles -> https://github.com/{{- .name -}}/dotfiles"
echo {{ .prompts.setup_instruction | quote }}
