#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

# ╭──────────────────────────────────────────────────────────╮
# │ Note: Any brew related packages for macOS are handled    │
# │ already, check the custom mac scripts                    │
# ╰──────────────────────────────────────────────────────────╯

# {{ if eq .osid "linux-arch"}}
_log -l info "Installing apps"

# ── pacman ────────────────────────────────────────────────────────────
gum format -- "# pacman:"
_install_packages_pacman "{{- concat .apps.arch.pacman | uniq | sortAlpha | join "\" \""  -}}"

# ── paru ───────────────────────────────────────────────────────────────
gum format -- "# paru:"
_install_packages_paru "{{- .apps.arch.paru | uniq | sortAlpha | join "\" \""  -}}"

echo
_log -l info "Installed apps"
# {{ end }}
