#!/bin/bash

# {{ template "bash-library.sh" . }}

# {{ if eq .osid "linux-ubuntu" -}}

sudo apt update -y && sudo apt upgrade -y

# Build essential
sudo apt install "build-essential"

# Install packages
# {{ range $_, $pkg := concat .dependencies.ubuntu.apt .dependencies.all.packages }}
#   {{ range $cmd_name, $to_install := $pkg }}
ensure_installed "{{- $cmd_name -}}" sudo apt install -y "{{- splitList " " $to_install | join "\" \"" -}}"
#   {{ end }}
# {{ end }}

# NVM
if [[ -d "${NVM_DIR:-"~/.nvm"}/.git" ]]; then
	log_info "nvm is already installed. Skipping."
else
	curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/master/install.sh | bash
fi

# Custom installation
# {{ range $_, $pkg := concat .dependencies.ubuntu.custom .dependencies.all.custom }}
# {{ range $cmd_name, $to_install := $pkg }}
if command -v "{{- $cmd_name -}}" >/dev/null 2>&1; then
	log_info "{{- $cmd_name }} is already installed. Skipping."
else
	log_task "Installing {{ $cmd_name -}}"
	# {{ range $_, $line := $to_install }}
	# {{ "\n" }}{{ $line }}
	# {{ end }}
fi
# {{ end }}
# {{ end }}

# Global npm packages
# {{ range $_, $package_name := .dependencies.all.pnpm }}
if pnpm list -g --depth 0 | grep -q "{{- $package_name -}}"; then
	log_info "pnpm: {{ $package_name }} is already installed. Skipping."
else
	log_task "Installing {{ $package_name }} via pnpm"
	pnpm add -g "{{- $package_name -}}"
fi
# {{ end }}

# {{ end }}
