{{- $name := promptStringOnce . "name" "Name" "Nitestack" -}}
{{- $email := promptStringOnce . "email" "Email Address" "74626967+Nitestack@users.noreply.github.com" -}}
{{- $hosttype := promptChoiceOnce . "host-type" "Host Type" (list "personal" "work") "personal" -}}
{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end -}}
# ╭──────────────────────────────────────────────────────────╮
# │ CHEZMOI CONFIG                                           │
# ╰──────────────────────────────────────────────────────────╯

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  editor: "nvim"
  hosttype: {{ $hosttype | quote }}
  device_type: {{ $chassisType | quote }}
  osid: {{ $osID | quote }}
  # do not override the following values
{{- if eq .chezmoi.os "linux" -}}
{{-   if and (.chezmoi.kernel.osrelease | lower | contains "microsoft") (eq $osID "linux-arch") }}
  is_wsl: true
{{-   end -}}
{{- else }}
  is_wsl: false
{{- end }}
sourceDir: {{ .chezmoi.workingTree | quote }}
diff:
  exclude:
    - "scripts"
    - "externals"
merge:
  command: "nvim"
  args:
    - "-d"
    - "{{ "{{" }} .Destination {{ "}}" }}"
    - "{{ "{{" }} .Source {{ "}}" }}"
    - "{{ "{{" }} .Target {{ "}}" }}"
status:
  exclude:
    - always
progress: true
{{ if eq .chezmoi.os "windows" -}}
interpreters:
  ps1:
    command: "pwsh"
    args:
      - "-NoLogo"
      - "-NoProfile"
{{- end -}}
