# ╭──────────────────────────────────────────────────────────╮
# │ Chezmoi Config                                           │
# ╰──────────────────────────────────────────────────────────╯

sourceDir: {{ .chezmoi.workingTree | quote }}
diff:
  exclude:
    - "scripts"
    - "externals"
{{- if ne .chezmoi.os "windows" }}
merge:
  command: "nvim"
  args:
    - "-d"
    - "{{ "{{" }} .Destination {{ "}}" }}"
    - "{{ "{{" }} .Source {{ "}}" }}"
    - "{{ "{{" }} .Target {{ "}}" }}"
{{- end }}
status:
  exclude:
    - always
progress: true
