{{- $name := promptStringOnce . "name" "Name" "Nitestack" -}}
{{- $email := promptStringOnce . "email" "Email Address" "74626967+Nitestack@users.noreply.github.com" -}}
{{- $hosttype := promptChoiceOnce . "host-type" "Host Type" (list "personal" "work") "personal" -}}
# ╭──────────────────────────────────────────────────────────╮
# │ CHEZMOI CONFIG                                           │
# ╰──────────────────────────────────────────────────────────╯

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  hosttype: {{ $hosttype | quote }}
  # do not override the WSL check
{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  is_wsl: true
{{- else }}
  is_wsl: false
{{- end }}
sourceDir: {{ .chezmoi.workingTree | quote }}
diff:
  exclude:
    - "scripts"
    - "externals"
{{- if ne .chezmoi.os "windows" }}
merge:
  command: "nvim"
  args:
    - "-d"
    - "{{ "{{" }} .Destination {{ "}}" }}"
    - "{{ "{{" }} .Source {{ "}}" }}"
    - "{{ "{{" }} .Target {{ "}}" }}"
{{- end }}
status:
  exclude:
    - always
progress: true
{{ if eq .chezmoi.os "windows" -}}
interpreters:
  ps1:
    command: "pwsh"
    args:
      - "-NoLogo"
      - "-NoProfile"
{{- end -}}
