# ╭──────────────────────────────────────────────────────────╮
# │ Chezmoi External Config                                  │
# ╰──────────────────────────────────────────────────────────╯

# bat
{{- if eq .chezmoi.os "windows" }}
"AppData/Roaming/bat":
{{- else if not (lookPath "nix") }}
".config/bat":
{{- end }}
{{- if or (eq .chezmoi.os "windows") (not (lookPath "nix"))}}
  type: archive
  url: "https://github.com/catppuccin/bat/archive/master.tar.gz"
  stripComponents: 1
  refreshPeriod: "168h"
  include:
    - "*/themes/**"
{{- end }}

# delta
{{- if eq .chezmoi.os "windows" }}
"AppData/Roaming/delta/themes/catppuccin.gitconfig":
{{- else }}
".config/delta/themes/catppuccin.gitconfig":
{{- end }}
  type: file
  url: "https://raw.githubusercontent.com/catppuccin/delta/main/catppuccin.gitconfig"
  refreshPeriod: "168h"

# nu_scripts
{{- if eq .chezmoi.os "windows" }}
"AppData/Roaming/nushell/nu_scripts":
{{- else }}
".config/nushell/lib/nu_scripts":
{{- end }}
  type: archive
  url: "https://github.com/nushell/nu_scripts/archive/master.tar.gz"
  stripComponents: 1
  refreshPeriod: "168h"
  include:
    - "*/aliases/**"
    - "*/custom-completions/**"
    - "*/custom-menus/**"
    - "*/modules/**"
    - "*/nu-hooks/**"
    - "*/sourced/**"
    - "*/themes/**"
