# ╭──────────────────────────────────────────────────────────╮
# │ Chezmoi External Config                                  │
# ╰──────────────────────────────────────────────────────────╯

# bat
{{ if eq .chezmoi.os "windows" -}}
"AppData/Roaming/bat":
  type: archive
  url: "https://github.com/catppuccin/bat/archive/master.tar.gz"
  stripComponents: 1
  refreshPeriod: "168h"
  include:
    - "*/themes/**"
{{- end }}

# nu_scripts
{{- if eq .chezmoi.os "windows" }}
"AppData/Roaming/nushell/nu_scripts":
{{- else }}
".config/nushell/lib/nu_scripts":
{{- end }}
  type: archive
  url: "https://github.com/nushell/nu_scripts/archive/master.tar.gz"
  stripComponents: 1
  refreshPeriod: "168h"
  include:
    - "*/aliases/**"
    - "*/custom-completions/**"
    - "*/custom-menus/**"
    - "*/modules/**"
    - "*/nu-hooks/**"
    - "*/sourced/**"
    - "*/themes/**"
