; ╭──────────────────────────────────────────────────────────╮
; │ Git Config                                               │
; ╰──────────────────────────────────────────────────────────╯

[user]
  name = "{{- .name -}}"
  email = "{{- .email -}}"
[core]
  longpaths = true
  pager = "delta"
[pull]
  rebase = true
[merge]
autoStash = true
[rebase]
autoStash = true
[push]
autoSetupRemote = true
[init]
defaultBranch = "main"
[color]
ui = "auto"
