# ╭──────────────────────────────────────────────────────────╮
# │ ZSH CONFIGURATION                                        │
# ╰──────────────────────────────────────────────────────────╯

# ── Environment variables ─────────────────────────────────────────────
export PNPM_HOME="$HOME/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"

{{- if eq .osid "linux-nixos" }}

export NIX_LD=$(nix eval --impure --raw --expr 'let pkgs = import <nixpkgs> {}; NIX_LD = pkgs.lib.fileContents "${pkgs.stdenv.cc}/nix-support/dynamic-linker"; in NIX_LD')
{{- end }}

export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"
{{ $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" ".local/bin" ".cargo/bin" ".console-ninja/.bin" -}}
{{-   $path := joinPath $homeDir $relPath -}}
{{-   if stat $path -}}
{{-     $paths = mustAppend $paths $path -}}
{{-   end -}}
{{- end -}}
{{ if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}
export PATH=/usr/local/bin:$PATH

# Preferred editor for local and remote sessions
if [[ -n "${SSH_CONNECTION:-""}" ]]; then
  export EDITOR="vim"
else
  export EDITOR="{{- .editor -}}"
fi
# Editor for `sudoedit`
export SUDO_EDITOR="vim"

# ── Options ───────────────────────────────────────────────────────────
COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# History
LANG=en_US.UTF-8
HISTSIZE=5000
HISTFILE="$HOME/.zsh_history"
SAVEHIST=$HISTSIZE
HIST_STAMPS="dd.mm.yyyy"
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

# ── Oh My Zsh ─────────────────────────────────────────────────────────
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME=""

# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  aliases
  colorize
  command-not-found
  cp
  fzf-tab
  git
  node
  npm
  nvm
  python
  pip
  tmux
  tmuxinator
  vi-mode
  web-search
  zsh-autosuggestions
  zsh-history-substring-search
  zsh-syntax-highlighting
)

source $ZSH/oh-my-zsh.sh

# ── User config ───────────────────────────────────────────────────────

# Load Oh My Posh
if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config "${XDG_CONFIG_HOME:-${HOME}/.config}/oh-my-posh/config.yml")"
fi

# Completion styling
zstyle ":completion:*" matcher-list 'm:{a-z}={A-Za-z}'
zstyle ":completion:*" list-colors "${(s.:.)LS_COLORS}"
zstyle ":completion:*" menu no
zstyle ":fzf-tab:complete:cd:*" fzf-preview 'ls --color $realpath'
zstyle ":fzf-tab:complete:__zoxide_z:*" fzf-preview 'ls --color $realpath'

# Keybindings
bindkey -v
bindkey "^p" history-substring-search-up
bindkey "^n" history-substring-search-down
bindkey "^[w" kill-region

# Aliases
alias vim="nvim"
alias vi="nvim"
alias v="nvim"
alias c="clear"
alias cat="bat"
alias lg="lazygit"
alias lzd="lazydocker"
alias ls="eza --group-directories-first --icons --git --octal-permissions"
alias lt="ls -T"

# Load zoxide
eval "$(zoxide init --cmd cd zsh)"

# Load fzf (must stay on the end)
source <(fzf --zsh)

# bat theme
export BAT_THEME="Catppuccin Mocha"

# fastfetch
if [[ $(tty) == *"pts"* ]]; then
  fastfetch
fi
