; ╭──────────────────────────────────────────────────────────╮
; │ Git Config                                               │
; ╰──────────────────────────────────────────────────────────╯

[user]
  name = "{{- .name -}}"
  email = "{{- .email -}}"
[core]
{{- if ne .chezmoi.os "windows" }}
  editor = "nvim"
{{- end }}
  pager = "delta"
  longpaths = true
[interactive]
  diffFilter = "delta --color-only"
[delta]
  dark = true
  features = "catppuccin-mocha"
  line-numbers = true
  navigate = true
  side-by-side = true
[include]
  path = "{{ env (ne .chezmoi.os "windows" | ternary (joinPath .chezmoi.homeDir ".config") "APPDATA") }}/delta/themes/catppuccin.gitconfig"
[color]
  ui = true
[pull]
  rebase = true
[merge]
  autoStash = true
  conflictstyle = "zdiff3"
[rebase]
  autoStash = true
[push]
  autoSetupRemote = true
[init]
  defaultBranch = "main"
[alias]
  count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
