#!/bin/bash

# {{ template "bash-library.sh" . }}

start_loading "Linux: Setting default shell to Zsh"

# Check if the current shell is zsh already
if [[ "${SHELL}" == "/usr/bin/zsh" ]]; then
	stop_loading "Linux: Default shell is Zsh"
	exit 0
fi

# Check if zsh is installed
# {{ if eq .osid "linux-arch" }}
pacman_ensure_installed zsh
# {{ else if eq .osid "linux-ubuntu" }}
apt_ensure_installed zsh
# {{ end }}

chsh -s "/usr/bin/zsh"
stop_loading "Linux: Default shell changed to Zsh" --is-success
