#!/bin/bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

set_zsh_as_default_shell() {
	# Check if the current shell is zsh already
	if [[ "${SHELL}" == "/usr/bin/zsh" ]]; then
		echo "Linux: Default shell is Zsh"
		exit 2
	fi

	# Check if zsh is installed
	pacman_ensure_installed zsh

	chsh -s "/usr/bin/zsh"
}

show_spinner "set_zsh_as_default_shell" "Linux: Setting default shell to Zsh" "Linux: Changed default shell to Zsh"
