{
  "auto_signature_help": true,
  "base_keymap": "VSCode",
  "buffer_font_family": "{{- .font.nerd.family -}}",
  "buffer_font_size": {{ addf (float64 .font.size) 4 }},
  "buffer_line_height": {
    "custom": 1.5
  },
  "calls": {
    "mute_on_join": true
  },
  "ensure_final_newline_on_save": false,
  "inlay_hints": {
    "enabled": true
  },
  "journal": {
    "hour_format": "hour24"
  },
  "relative_line_numbers": true,
  "soft_wrap": "editor_width",
  "tab_bar": {
    "show_nav_history_buttons": false
  },
  "tabs": {
    "git_status": true
  },
  "telemetry": {
    "diagnostics": false,
    "metrics": true
  },
  "terminal": {
    "font_family": "{{- .font.nerd.family -}}",
    "font_size": {{ addf (float64 .font.size) 4 }},
    "line_height": {
      "custom": 1.5
    }
  },
  "theme": {
    "mode": "system",
    "light": "Catppuccin Latte",
    "dark": "Catppuccin Mocha"
  },
  "ui_font_family": "{{- .font.sans.family -}}",
  "vim": {
    "use_smartcase_find": true
  },
  "vim_mode": true
}
