#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

set_zsh_as_default_shell() {
	# Check if the current shell is zsh already
	if [[ "${SHELL}" == "/usr/bin/zsh" ]]; then
		echo "Arch Linux: Default shell is already Zsh"
		exit 2
	fi

	# Check if zsh is installed
	pacman_ensure_installed zsh

	chsh -s "/usr/bin/zsh"
}

show_spinner "set_zsh_as_default_shell" "Arch Linux: Checking if Zsh is the default shell" "Arch Linux: Set default shell to Zsh"
