#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

_log -l info "Checking if Bluetooth is set up to run on boot"

# Check if Bluetooth automation has not been set up yet
if systemctl is-enabled --quiet bluetooth.service; then
	_log -l warn "Bluetooth is already set up"
	exit
fi

sudo -v

# Run on boot
_spin "Enabling Bluetooth service" -- sudo systemctl enable bluetooth.service

# Start immediately
_spin "Starting Bluetooth" -- sudo systemctl start bluetooth.service

_log -l info "Set up Bluetooth to run on boot"
