#!/bin/bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

# Path to the pacman configuration file
PACMAN_CONF="/etc/pacman.conf"

i=0

# Uncomment an option or flag if commented
uncomment_option_or_flag() {
	local option=$1

	# Uncomment if commented
	if grep -q "^#\s*${option}" "${PACMAN_CONF}"; then
		sudo sed -i "s/^#\s*\(${option}\)/\1/" "${PACMAN_CONF}"
		((i++))
	fi
}

# Uncomment the next line if it is commented
uncomment_next_line_if_commented() {
	local option=$1
	local line_number

	line_number=$(grep -n "^${option}" "${PACMAN_CONF}" | cut -d: -f1)
	if [[ -n "${line_number}" ]]; then
		local next_line_number=$((line_number + 1))
		if sed "${next_line_number}q;d" "${PACMAN_CONF}" | grep -q "^#"; then
			sudo sed -i "${next_line_number}s/^#//" "${PACMAN_CONF}"
			((i++))
		fi
	fi
}

# Add a line under a specified line
add_line_after() {
	local line_to_add="$1"
	local line_to_search="$2"

	if ! grep -q "${line_to_add}" "${PACMAN_CONF}"; then
		sudo sed -i "/${line_to_search}/a ${line_to_add}" "${PACMAN_CONF}"
		((i++))
	fi
}

configure_pacman() {
	# Enable UseSyslog
	uncomment_option_or_flag "UseSyslog"

	# Enable ParallelDownloads
	uncomment_option_or_flag "ParallelDownloads"

	# Enable Color
	uncomment_option_or_flag "Color"

	# Add ILoveCandy under ParallelDownloads if not already there
	add_line_after "ILoveCandy" "ParallelDownloads"

	# Uncomment multilib repository (for 32-bit support)
	uncomment_option_or_flag "\[multilib\]"
	uncomment_next_line_if_commented "\[multilib\]"

	if [[ "${i}" -eq 0 ]]; then
		echo "Arch Linux: pacman configured"
		exit 2
	fi
}

show_spinner "configure_pacman" "Arch Linux: Configuring pacman" "Arch Linux: Configured pacman"
