#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

_log -l info "Enabling system and user services"

# paccache
echo
_enable_system_service "paccache.timer"

# playerctl
echo
_enable_user_service "playerctld.service"

# Bluetooth
echo
_enable_system_service "bluetooth.service"

echo
_log -l info "Enabled system and user services"
