#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

TARGET_DIR="/usr/share/sddm/themes/sddm-astronaut-theme"

_log -l info "Setting up sddm"

echo
_log -l info "Ensure required dependencies are installed"
_install_packages_pacman "qt6-5compat" "qt6-declarative" "qt6-svg"

sudo -v

sudo rm -rf "${TARGET_DIR}"
_spin "Downloading sddm-astronaut-theme" -- sudo git clone --depth 1 "https://github.com/keyitdev/sddm-astronaut-theme.git" "${TARGET_DIR}"
_log -l info "Downloaded sddm-astronaut-theme"
sudo cp "${TARGET_DIR}"/Fonts/* "/usr/share/fonts/"

# Customize sddm-astronaut-theme
_spin "Customizing sddm-astronaut-theme" -- _write_file_with_sudo "${TARGET_DIR}/theme.conf.user" 'PartialBlur="false"
Font="{{- .font.mono.family -}}"
HourFormat="hh:mm:ss"
DateFormat="dddd, MMMM d, yyyy"'
_log -l info "Customized sddm-astronaut-theme"

# Create sddm config
_spin "Creating sddm config" -- _write_file_with_sudo "/etc/sddm.conf" "[Theme]
Current=sddm-astronaut-theme"
_log -l info "Created sddm config and set theme"

_enable_system_service "sddm.service"

echo
_log -l info "Set up sddm"
