#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

configure_greetd() {
	# Ensure greetd is installed
	if ! pacman -Qi "greetd" &>/dev/null; then
		sudo pacman -S --needed --noconfirm "greetd"
	fi
	# Ensure qtgreet is installed
	if ! yay -Qi "qtgreet" &>/dev/null; then
		yay -S --needed --noconfirm "greetd-qtgreet"
	fi

	# Ensure the greetd will run on boot
	if ! systemctl is-active --quiet reflector.service; then
		sudo systemctl enable greetd.service
	fi

	# Create /etc/greetd/config.toml
	sudo bash -c 'cat <<EOF >/etc/greetd/config.toml
[terminal]
vt = 1

[default_session]
command = "Hyprland --config /etc/greetd/hyprland.conf"
EOF'

	# Create /etc/greetd/environments
	sudo bash -c 'cat <<EOF >/etc/greetd/environments
Hyprland
zsh
EOF'

	# Create /etc/greetd/hyprland.conf
	sudo bash -c 'cat <<EOF >/etc/greetd/hyprland.conf
exec-once = qtgreet; hyprctl dispatch exit
EOF'
}

show_spinner "configure_greetd" "Arch Linux: Setting up greetd" "Arch Linux: greetd is set up"
