#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

_log -l info "Checking if ags types are added"

ags_config_path=$(find "${HOME}/.dotfiles/home" -type d -name '*ags' | head -n 1)

if [[ -z "${ags_config_path}" ]]; then
	_log -l warn "No ags config found"
	exit
fi

# Check if the types already exist
if [[ -d "${ags_config_path}/types" ]]; then
	_log -l warn "ags types are already added"
	exit
fi

# Init config in ags-dotfiles
_spin "Generating types" -- ags --init --config "${ags_config_path}/config.js"

rm -f "${ags_config_path}/README.md"

_log -l info "Added ags types"
