#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

ensure_yay_installed() {
	# Check if yay is already installed
	if command -v yay &>/dev/null; then
		echo "Arch Linux: yay is already installed"
		exit 2
	fi

	# Install yay
	git clone https://aur.archlinux.org/yay.git ~/yay-git
	cd ~/yay-git
	makepkg -si --noconfirm
	cd ..
	rm -rf ~/yay-git
}

show_spinner "ensure_yay_installed" "Arch Linux: Checking if yay is installed" "Arch Linux: yay is installed"
