#!/bin/bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

file="${HOME}/.config/hypr/xdg-desktop-portal-hyprland.sh"

ensure_xdg_desktop_portal_hyprland_is_executable() {
	# Check if the file has execution permissions
	if [[ -x "${file}" ]]; then
		echo "Arch Linux: '${file}' has execution permissions"
	fi

	# Give permissions
	chmod +x "${file}"
}

show_spinner "ensure_xdg_desktop_portal_hyprland_is_executable" "Arch Linux: Checking execution permissions for '${file}'" "Arch Linux: Changed execution permissions for '${file}'"
