#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

setup_reflector_automation() {
	# Check if reflector automation for Germany has not been set up yet
	if systemctl is-active --quiet reflector.service; then
		echo "Arch Linux: Reflector automation is already set up"
		exit 2
	else
		# Ensure reflector is installed
		if ! pacman -Qi reflector &>/dev/null; then
			sudo pacman -S --needed --noconfirm "reflector"
		fi

		# Create or overwrite the reflector configuration file
		sudo bash -c 'cat <<EOF >/etc/xdg/reflector/reflector.conf
--save /etc/pacman.d/mirrorlist
--country Germany
--protocol https
--latest 5
EOF'

		# Run on boot
		sudo systemctl enable reflector.service

		# Start immediately
		sudo systemctl start reflector.service
	fi
}

show_spinner "setup_reflector_automation" "Arch Linux: Checking if reflector automation is set up" "Arch Linux: Set up reflector automation"
