#!/bin/bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

setup_mirrorlist() {
	if [[ -f "/etc/pacman.d/mirrorlist.bak" ]]; then
		echo "Arch Linux: Mirrorlist backup found"
		exit 2
	fi

	pacman_ensure_installed reflector
	sudo cp /etc/pacman.d/mirrorlist /etc/pacman.d/mirrorlist.bak
	sudo reflector --verbose --latest 10 --protocol https --sort rate --save /etc/pacman.d/mirrorlist
}

show_spinner "setup_mirrorlist" "Arch Linux: Setting up mirrorlist" "Arch Linux: Mirrorlist backup updated"
