#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

configure_greetd() {
	# Ensure the greetd will run on boot
	if ! systemctl is-enabled --quiet greetd.service; then
		sudo systemctl enable greetd.service
	fi

	if [[ -f "/etc/greetd/config.toml" ]] && [[ -f "/etc/greetd/hyprland.conf" ]] && [[ -f "/etc/greetd/environments" ]]; then
		echo "Arch Linux: greetd is already set up"
		exit 2
	fi

	# Create /etc/greetd/config.toml
	sudo bash -c 'cat <<EOF >/etc/greetd/config.toml
[terminal]
vt = 1

[default_session]
command = "Hyprland --config /etc/greetd/hyprland.conf"
EOF'

	# Create /etc/greetd/environments
	sudo bash -c 'cat <<EOF >/etc/greetd/environments
Hyprland
zsh
EOF'

	# Create /etc/greetd/hyprland.conf
	sudo bash -c 'cat << "EOF" >/etc/greetd/hyprland.conf
{{ template "hyprland/env.conf" . }}
exec-once = qtgreet; hyprctl dispatch exit
EOF'
}

show_spinner "configure_greetd" "Arch Linux: Setting up greetd" "Arch Linux: greetd is set up"
