#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

_log -l info "Checking if zsh is the default shell"

# Check if the current shell is zsh already
if [[ "${SHELL}" == "/usr/bin/zsh" ]]; then
	_log -l warn "Default shell is already zsh"
	exit
fi

# Ensure zsh is installed
if ! pacman -Qi "zsh" &>/dev/null; then
	_spin "Installing zsh" -- sudo pacman -S --needed --noconfirm "zsh"
fi

chsh -s "/usr/bin/zsh"

_log -l info "Set the default shell to zsh"
