#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

_log -l info "Checking if paccache is set up to run weekly"

# Check if paccache automation has not been set up yet
if systemctl is-enabled --quiet paccache.timer; then
	_log -l warn "paccache is already set up"
	exit
fi

sudo -v

# Run weekly
_spin "Enabling paccache timer" -- sudo systemctl enable paccache.timer

# Start immediately
_spin "Starting" -- sudo systemctl start paccache.timer

_log -l info "Set up paccache to run weekly"
