#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

SYSTEM_LOCALE="en_US"
REGIONAL_LOCALE="de_DE"

locale_is_set() {
	local locale=$1
	localectl list-locales | grep -q "^${locale}.UTF-8$"
}

configure_locales() {
	# Check if both locales are already set
	if locale_is_set "${SYSTEM_LOCALE}" && locale_is_set "${REGIONAL_LOCALE}"; then
		echo "Locales generated and set"
		exit 2
	else
		# Uncomment the locales in /etc/locale.gen
		if ! locale_is_set "${SYSTEM_LOCALE}"; then
			sudo sed -i "s/^#${SYSTEM_LOCALE}.UTF-8 UTF-8/${SYSTEM_LOCALE}.UTF-8 UTF-8/" /etc/locale.gen
		fi
		if ! locale_is_set "${REGIONAL_LOCALE}"; then
			sudo sed -i "s/^#${REGIONAL_LOCALE}.UTF-8 UTF-8/${REGIONAL_LOCALE}.UTF-8 UTF-8/" /etc/locale.gen
		fi

		# Generate the locales
		sudo locale-gen

		# Set the system locale
		if ! locale_is_set "${SYSTEM_LOCALE}"; then
			sudo localectl set-locale LANG="${SYSTEM_LOCALE}.UTF-8"
		fi
		# Set regional settings
		if ! locale_is_set "${REGIONAL_LOCALE}"; then
			sudo localectl set-locale LC_ADDRESS="${REGIONAL_LOCALE}.UTF-8"
			sudo localectl set-locale LC_CTYPE="${REGIONAL_LOCALE}.UTF-8"
			sudo localectl set-locale LC_MEASUREMENT="${REGIONAL_LOCALE}.UTF-8"
			sudo localectl set-locale LC_MONETARY="${REGIONAL_LOCALE}.UTF-8"
			sudo localectl set-locale LC_NAME="${REGIONAL_LOCALE}.UTF-8"
			sudo localectl set-locale LC_NUMERIC="${REGIONAL_LOCALE}.UTF-8"
			sudo localectl set-locale LC_PAPER="${REGIONAL_LOCALE}.UTF-8"
			sudo localectl set-locale LC_TELEPHONE="${REGIONAL_LOCALE}.UTF-8"
			sudo localectl set-locale LC_TIME="${REGIONAL_LOCALE}.UTF-8"
		fi
	fi
}

show_spinner "configure_locales" "Arch Linux: Check if locales were generated and set" "Arch Linux: Generated and set locales"
