export const FONT_SANS_FAMILY = "{{- .font.sans.family -}}";
export const IS_NOT_VM = {{ ne .device_type "vm" }};
export const ICON_THEME = "Papirus";
export const THEME = {{ .theme | toPrettyJson -}};
