#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

# ╭──────────────────────────────────────────────────────────╮
# │ Note: Any brew related packages for macOS are handled    │
# │ already, check the custom mac scripts                    │
# ╰──────────────────────────────────────────────────────────╯

# {{ if eq .osid "linux-arch"}}
# {{ $pacmanApps := list }}
# {{ $paruApps := list }}
# {{ range .apps.common }}
#   {{ if hasKey . "arch" }}
#     {{ if eq "string" (printf "%T" .arch) }}
#       {{ $pacmanApps = mustAppend $pacmanApps .arch }}
#     {{ else if hasKey .arch "paru" }}
#       {{ $paruApps = mustAppend $paruApps .arch.paru }}
#     {{ end }}
#   {{ end }}
# {{ end }}
# {{ if hasKey .apps.arch "pacman" }}
# {{   $pacmanApps = concat $pacmanApps .apps.arch.pacman }}
# {{ else if hasKey .apps.arch "paru" }}
# {{   $paruApps = concat $paruApps .apps.arch.paru  }}
# {{ end }}

_log_header "Apps"

# ── pacman ────────────────────────────────────────────────────────────
gum format -- "## pacman:"
_install_packages_pacman "{{- $pacmanApps | uniq | sortAlpha | join "\" \""  -}}"

# ── paru ───────────────────────────────────────────────────────────────
gum format -- "## paru:"
_install_packages_paru "{{- $paruApps | uniq | sortAlpha | join "\" \""  -}}"

echo
_log -l info "Installed apps"
# {{ end }}
