#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

# ╭──────────────────────────────────────────────────────────╮
# │ Install packages                                         │
# ╰──────────────────────────────────────────────────────────╯
_log_header "Packages"

# ── Global npm dependencies ───────────────────────────────────────────
# {{ if hasKey .packages "npm" }}
gum format -- "## pnpm:"
pnpm_list=$(pnpm list -g --depth 0)
uninstalled_npm_items=()
#		{{ range (.packages.npm | uniq | sortAlpha) }}
if echo "${pnpm_list}" | grep -q "{{- . -}}"; then
	_log -l warn --prefix "pnpm" "{{- . }} is already installed"
else
	uninstalled_npm_items+=("{{- . -}}")
fi
#		{{ end }}
if [[ ${#uninstalled_npm_items[@]} -gt 0 ]]; then
	pnpm add -g "${uninstalled_npm_items[@]}"
	for item in "${uninstalled_npm_items[@]}"; do
		_log -l info --prefix "pnpm" "Installed ${item}"
	done
fi
# {{ end }}

echo
_log -l info "Installed packages"
