#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

# ╭──────────────────────────────────────────────────────────╮
# │ Install packages                                         │
# ╰──────────────────────────────────────────────────────────╯
_log_header "Packages"

# ── pnpm ──────────────────────────────────────────────────────────────
gum format -- "## pnpm:"
pnpm_list=$(pnpm list -g --depth 0)
# {{ range (.packages.npm | uniq | sortAlpha) }}
if echo "${pnpm_list}" | grep -q "{{- . -}}"; then
	_log -l warn --prefix "pnpm" "{{- . }} is already installed"
else
	pnpm add -g "{{- . -}}"
	_log -l info --prefix "pnpm" "Installed {{ . -}}"
fi
# {{ end }}

# ── cargo ─────────────────────────────────────────────────────────────
gum format -- "## cargo:"
cargo_list=$(cargo install --list)
# {{ range (.packages.cargo | uniq | sortAlpha) }}
if echo "${cargo_list}" | grep -q "{{- . -}}"; then
	_log -l warn --prefix "cargo" "{{- . }} is already installed"
else
	cargo install "{{- . -}}"
	_log -l info --prefix "cargo" "Installed {{ . -}}"
fi
# {{ end }}

echo
_log -l info "Installed packages"
