# ╭──────────────────────────────────────────────────────────╮
# │ WINDOWS AND WORKSPACES                                   │
# ╰──────────────────────────────────────────────────────────╯
# https://wiki.hyprland.org/Configuring/Window-Rules
# https://wiki.hyprland.org/Configuring/Workspace-Rules

windowrulev2 = suppressevent maximize, class:.*

# ── Floating windows ──────────────────────────────────────────────────
{{ range (list "confirm" "file_progress" "dialog" "dconf-editor" "org.gnome.Calculator" "org.gnome.Nautilus" "org.gnome.SystemMonitor" "nm-connection-editor" "org.gnome.Settings" "org.gnome.design.Palette" "Color Picker" "com.github.Aylur.ags") -}}
windowrule=float,^({{- . -}})$
{{ end }}
{{ range (list "Open File" "Select a File" "Choose wallpaper" "Open Folder" "Save As" "Library" "File Upload") -}}
windowrule=float,title:^({{- . -}})(.*)$
{{ end }}
windowrulev2 = float,title:^([Pp]icture[-\s]?[Ii]n[-\s]?[Pp]icture)(.*)$

# ── Tearing ───────────────────────────────────────────────────────────
windowrule=immediate,.*\.exe
windowrulev2=immediate,class:(steam_app)

# ── Specific window rules ─────────────────────────────────────────────
