#!/bin/bash

# {{ template "bash-library.sh" . }}

start_loading "macOS: Ensure brew is installed"

if command -v brew &> /dev/null then
  stop_loading "macOS: brew is installed"
  exit 0
fi

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

stop_loading "macOS: Installed brew" --is-success
