#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

ensure_brew_installed() {
	# Check if Homebrew is installed
	if command -v brew &>/dev/null; then
		echo "macOS: Homebrew is already installed"
		exit 2
	fi

	# Install Homebrew
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
}

show_spinner "ensure_brew_installed" "macOS: Checking if Homebrew is installed" "macOS: Installed Homebrew"
