#!/usr/bin/env bash

# {{ template "bash-library.sh" . }}

# The following line is for ShellCheck to correctly identify the above included library
true || source "../../.chezmoitemplates/bash-library.sh"

_log -l info "Installing formulae, casks and App Store apps"

# ── Essential formulae ────────────────────────────────────────────────
# {{ $essentialFormulae := list }}
# {{ range .packages.essentials }}
#   {{ if and (hasKey . "mac") (eq "string" (printf "%T" .mac)) }}
#     {{ $essentialFormulae = mustAppend $essentialFormulae .mac }}
#   {{ end }}
# {{ end }}
# ── Formulae ──────────────────────────────────────────────────────────
# {{ $formulae := list }}
# {{ range .packages.common }}
#   {{ if and (hasKey . "mac") (eq "string" (printf "%T" .mac)) }}
#     {{ $formulae = mustAppend $formulae .mac }}
#   {{ end }}
# {{ end }}
# Only sort the regular formulae, not the essentials
# {{ $formulae = concat $essentialFormulae (concat $formulae .packages.mac.formulae | uniq | sortAlpha) | uniq }}
# ── Casks ─────────────────────────────────────────────────────────────
# {{ $casks := list }}
# {{ $appStoreApps := list }}
# {{ range .apps.common }}
#   {{ if hasKey . "mac" }}
#     {{ if eq "string" (printf "%T" .mac) }}
#       {{ $casks = mustAppend $casks .mac }}
#     {{ else if hasKey .mac "mas" }}
#       {{ $appStoreApps = mustAppend $appStoreApps .mac.mas }}
#     {{ end }}
#   {{ end }}
# {{ end }}
# {{ $casks = concat $casks .apps.mac.casks | uniq | sortAlpha }}
# {{ $appStoreApps = concat $appStoreApps .apps.mac.mas }}

brew update
brew upgrade
# Upgrade casks
if brew tap | grep -q "buo/cask-upgrade"; then
	brew cu
fi
# Upgrade App Store apps
if brew list "mas" &>/dev/null; then
	mas upgrade
fi
sudo softwareupdate --agree-to-license --install-rosetta

# Create bundle
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/core"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "buo/cask-upgrade"
tap "homebrew/command-not-found"
tap "homebrew/services"

brew "mas"
{{ range $formulae -}}
brew "{{- . -}}"
{{ end -}}

{{ range $casks -}}
cask "{{- . -}}"
{{ end -}}

{{ range $appStoreApps -}}
mas "{{- .name -}}", id: {{ .id }}
{{ end -}}
EOF

_log -l info "Installed formulae, casks and App Store apps"
